
.toolbar{
 position: fixed;
 // background: linear-gradient(to right, #00FFFF, #7f00ff , #0000FF);
    background-color: #25fde9;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    text-align:center;
    img{
        margin: 0 auto;
        float:right;
        font-size: 20px;
        border-radius: 60px 60px 60px 60px;
    }
}
