<div class="content">

    <div class="form-content">
        <br>
        <h3>Admin connexion</h3>
        <br>
        <form (ngSubmit)="login(loginForm.value)" #loginForm="ngForm">
            <input type="text" placeholder="Numéro d'identification"  [(ngModel)]="identifier" name="Identifier"  required>
            <br><br>
            <input type="password" placeholder="Mot de passe"  [(ngModel)]="password" name="password"  required>
            <br><br><br>
            <button type="submit">Connexion</button>
            <br><br>
            <a routerLink="/register-administrator"><p style="color:white;">Créer un compte administrateur</p></a>
            <br>
        </form>

    </div>

</div>

