.toolbar{
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    text-align:center;
    margin-top: 90px;
}
.row{
    width: 60%;
    margin-left: 30px;;
 }