.birth-container{
     width:55%;
     margin: 0 auto;
     margin-top:100px;
     border : 1px solid #aeaeae;
     //box-shadow: 5px 5px #e1d2b8 ,10px 10px #764929, 15px 15px #ee1010;

    font-size: 25px;
    h4{
        margin-top :15px;
        font-size: 35px;
    }
}
.sceau{
    width: 200px;
    height:200px;
    text-align:center;
        margin:auto;
        display:flex;
}

.child-container-informations{
    margin: 0 auto;
    font-size: 25px;
     font-family: 'Vivaldi', sans-serif;
    margin-top : 20px;
    width: 80%;
    h4{
        text-align: center;
    }
}

input::value{
    color: blue;
    font-size: 25px;
}
input{
    font-size: 25px;
}

.mum-container-informations{
        border : 1px solid rgb(255,0,255);
         font-family: 'Vivaldi', sans-serif;
        margin: 0 auto;
        margin-top : 20px;
        width: 80%;
        h4{
            text-align: center;
        }
}
.dad-container-informations{
     font-family: 'Vivaldi', sans-serif;
     border : 1px solid rgb(30,144,255);
            margin: 0 auto;
            margin-top : 20px;
            width: 80%;
            h4{
                text-align: center;
            }
}
.row{
    width: 95%;
    margin: 0 auto;
}